{% extends "base.html" %}

{% block content %}

<style>
    div > img{
        width: 600px;
        height: 400px;
    }

    .content_control{
        display: flex;
        gap: 5px;
    }
</style>

<h1>{{ board.title }}</h1>
<p>{{ board.content }}</p>
<div>
    {% if board.image %}
    <img src="{{board.image.url}}" alt="게시물 이미지">
    {% endif %}
</div>
<hr>
<div class='content_control'>
    <a class="btn btn-primary" href="{% url "boards:update" board.pk %}">게시글 수정</a>
    <form action="{% url "boards:delete" board.pk %}">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit" onclick="return confirm('정말로 삭제하시겠습니까?')">게시글 삭제</button>
    </form>
</div>
<hr>
<a class="btn btn-secondary" href="{% url "boards:index" %}">목록</a>
{% endblock content %}